* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul,
li {
	list-style: none;
}
img {
	object-fit: contain;
	vertical-align: middle;
}
input,
button,
textarea,
select {
	outline: none;
	-webkit-appearance: none;
	border-radius: 0;
	border: 0;
}
// custom
.flex_row {
	display: flex;
	flex-flow: row;
}
.flex_col {
	display: flex;
	flex-flow: column;
}
.text_center {
	text-align: center;
}

// common
.common_row {
	@extend .flex_row;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	padding: 10px;
	margin-top: 15px;
	background: #1f212d;
	border-radius: 8px;
	&:last-child {
		margin-bottom: 15px;
	}
	> div {
		@extend .flex_row;
		> div {
			&:first-child {
				@extend .flex_row;
				justify-content: center;
				align-items: center;
				width: 60px;
				height: 60px;
				margin-right: 10px;
				background: linear-gradient(225deg, #d39ee5 0%, #a68cd8 100%);
				border-radius: 8px;
				> img {
					width: 36px;
				}
			}
			&:nth-child(2) {
				@extend .flex_col;
				justify-content: space-between;
				> h6 {
					font-size: 14px;
					color: #ffffff;
				}
				> p {
					font-size: 12px;
					color: #6a6c78;
					&.details {
						color: #ffffff;
					}
				}
			}
		}
	}
	> button {
		width: 72px;
		height: 30px;
		background: transparent;
		font-size: 12px;
		color: #2e66f9;
		&.active {
			background: #2e66f9;
			border-radius: 18px;
			color: #ffffff;
		}
	}
}
.common_box {
	width: 345px;
	background: #1f212d;
	&.small {
		border-radius: 8px;
	}
	&.middle {
		border-radius: 16px;
	}
}
.coupon_list {
	> .van-dialog {
		width: 345px;
		background-color: transparent;
		> .van-dialog__content {
			> .bind_phone {
				width: 345px;
				height: 274px;
				padding: 25px 45px;
				background: #272935;
				border-radius: 16px;
				color: #ffffff;
				> h3 {
					@extend .text_center;
					font-size: 18px;
				}
				> p {
					margin: 15px auto 25px;
					font-size: 12px;
				}
				> input {
					width: 100%;
					height: 48px;
					padding: 0 12px;
					background: #1f212d;
					border-radius: 8px;
					font-size: 14px;
					color: #ffffff;
					&::placeholder {
						color: #6a6c78;
					}
				}
				> button {
					width: 100%;
					height: 48px;
					margin-top: 25px;
					background: #2e66f9;
					border-radius: 8px;
				}
			}
		}
	}
}
.member_ship_card {
	position: relative;
	> img {
		width: 100%;
	}
	> div {
		width: 100%;
		height: 100%;
		padding: 20px;
		position: absolute;
		color: #5e472c;
		top: 0;
		left: 0;
		> h4 {
			font-size: 20px;
		}
		> p {
			font-size: 12px;
			&:nth-child(2) {
				text-transform: uppercase;
			}
			&:nth-child(3) {
				margin-top: 53px;
			}
			&:nth-child(4) {
				margin-top: 8px;
			}
		}
	}
}
.common_input {
	width: 100%;
	height: 44px;
	background: #191923;
	border-radius: 8px;
	position: relative;
	&.captcha {
		@extend .flex_row;
		justify-content: space-between;
		align-items: center;
		background: transparent;
		> input {
			width: 187px;
			background: #191923;
			border-radius: 8px;
		}
		> button {
			width: 108px;
			height: 44px;
			background: #2e66f9;
			border-radius: 8px;
			font-size: 14px;
			color: #ffffff;
		}
	}
	> img {
		width: 14px;
		position: absolute;
		top: 11px;
		left: 15px;
		&.username {
			width: 16px;
			left: 14px;
		}
		&.sex,
		&.birthday {
			width: 18px;
			left: 13px;
		}
		&.sex {
			top: 13px;
		}
		&.captcha {
			width: 15px;
			top: 13px;
			left: 14.5px;
		}
	}
	> input {
		width: 100%;
		height: 100%;
		padding: 0 40px;
		background: transparent;
		font-size: 14px;
		color: #ffffff;
		&::placeholder {
			color: #6a6c78;
		}
	}
}
// components
.navigate {
	width: 100%;
	height: 44px;
	line-height: 44px;
	background: #191923;
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9;
	> img {
		width: 20px;
		transform: rotate(90deg);
		position: absolute;
		top: 15px;
		left: 20px;
	}
}
.tabbar {
	width: 100%;
	height: 49px;
	background: #1f212d;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 9;
	> ul {
		height: 100%;
		align-items: center;
		> li {
			flex: 1;
			&.active {
				> p {
					color: #1865fd;
				}
			}
			> img {
				width: 18px;
				&.add {
					width: 36px;
				}
			}
			> p {
				margin-top: 4px;
				font-size: 11px;
				color: #a8a8a8;
			}
		}
	}
}
// views
html,
body {
	background: #191923;
}
#app {
	height: 100%;
	padding: 44px 0 0;
	-webkit-overflow-scrolling: touch;
}
.index {
	justify-content: center;
	> .banner {
		width: 100%;
	}
	&_main {
		width: 345px;
		margin: 15px auto 0;
		> div {
			margin-top: 15px;
		}
		> .nav {
			justify-content: space-between;
			> li {
				width: 80px;
				height: 106px;
				padding: 15px 0 10px;
				background: #292a40;
				border: 1px solid #292a40;
				border-radius: 8px;
				> img {
					width: 34px;
					margin-bottom: 10px;
				}
				> h6 {
					font-size: 14px;
					color: #ffffff;
				}
				> p {
					font-size: 12px;
					color: #6a6c78;
				}
			}
		}
		> .order {
			position: relative;
			> img {
				width: 100%;
			}
			> div {
				width: 100%;
				height: 100%;
				align-items: center;
				justify-content: center;
				position: absolute;
				top: 0;
				left: 0;
				> div {
					align-items: center;
					> img {
						width: 30px;
						margin-right: 10px;
					}
					> b {
						font-size: 30px;
						color: #ffffff;
					}
				}
			}
		}
		.coupon {
			> .title {
				justify-content: space-between;
				align-items: center;
				> h4 {
					font-size: 18px;
					color: #ffffff;
					position: relative;
					&::after {
						content: '';
						width: 36px;
						height: 6px;
						background: #2e66f9;
						opacity: 0.8;
						border-radius: 3px;
						position: absolute;
						right: 0;
						bottom: 0;
					}
				}
				> p {
					font-size: 12px;
					color: #6a6c78;
					> img {
						width: 10px;
						margin-left: 4px;
					}
				}
			}
		}
	}
	> .van-dialog {
		width: 345px;
		background-color: transparent;
		> .van-dialog__content {
			> .access {
				width: 345px;
				height: 165px;
				padding: 20px 15px;
				background: #1f212d;
				border-radius: 8px;
				justify-content: space-between;
				> li {
					@extend .flex_col;
					justify-content: space-between;
					width: 148px;
					height: 125px;
					padding: 10px;
					border-radius: 8px;
					color: #ffffff;
					&:first-child {
						background: linear-gradient(230deg, #8facd3 0%, #8779db 100%);
						> h3 {
							> img {
								width: 32px;
							}
						}
					}
					&:nth-child(2) {
						background: linear-gradient(230deg, #d39ee5 0%, #a68cd8 100%);
						> h3 {
							> img {
								width: 30px;
							}
						}
					}
					> h3 {
						@extend .flex_row;
						justify-content: space-between;
						align-items: center;
						font-size: 18px;
					}
					> p {
						font-size: 12px;
					}
				}
			}
		}
	}
}
.coupons,
.member_coupons {
	width: 345px;
	margin: auto;
	padding: 0 0 49px;
}
.member_coupons {
	height: calc(100% - 15px);
	padding: 0 0 0;
	> .condition {
		margin: 15px 0;
		> li {
			width: 93px;
			height: 36px;
			line-height: 36px;
			font-size: 14px;
			color: #6a6c78;
			&.active {
				background: #2e66f9;
				border-radius: 18px;
				color: #ffffff;
			}
		}
	}
	> .coupon_list {
		height: 100%;
		> .list {
			height: calc(100% - 66px);
			overflow: hidden;
			> ul {
				> .common_row {
					&:first-child {
						margin-top: 0px;
					}
				}
			}
		}
	}
}
.coupons {
	> .coupon_list {
		> .list {
			> ul {
				> .common_row {
					&:first-child {
						margin-top: 15px;
					}
				}
			}
		}
	}
}
.coupon_details {
	> div {
		margin: 20px auto;
		padding: 20px 15px;
		> h4 {
			font-size: 14px;
			color: #ffffff;
		}
		> p {
			margin-top: 15px;
			line-height: 19px;
			font-size: 12px;
			color: #6a6c78;
		}
	}
}
.card {
	> .store {
		justify-content: space-between;
		align-items: center;
		margin: 30px auto 0;
		padding: 0 15px;
		> div {
			@extend .flex_row;
			align-items: center;
			font-size: 16px;
			color: #ffffff;
			> div {
				height: 20px;
				margin-left: 8px;
				padding: 0 4px;
				border: 1px solid #2e66f9;
				border-radius: 10px;
				font-size: 10px;
				color: #2e66f9;
			}
		}
		> button {
			@extend .flex_row;
			justify-content: center;
			align-items: center;
			width: 74px;
			height: 24px;
			background: #2e66f9;
			border-radius: 12px;
			font-size: 12px;
			color: #ffffff;
			> img {
				width: 12px;
			}
		}
	}
	> .member_ship_card {
		width: 345px;
		margin: 20px auto 0;
		border-radius: 8px;
		overflow: hidden;
	}
}
.card_phone {
	margin: 20px auto 0;
	padding: 30px 20px 40px;
	> div {
		width: 90px;
		height: 90px;
		margin: auto;
		padding: 6px;
		border: 1px solid #6a6c78;
		border-radius: 50%;
		> img {
			width: 100%;
			border-radius: 50%;
		}
	}
	> p {
		@extend .text_center;
		margin: 15px auto 80px;
		font-size: 14px;
		color: #6a6c78;
	}
	> button {
		width: 100%;
		height: 40px;
		background: #2e66f9;
		border-radius: 20px;
		font-size: 16px;
		color: #ffffff;
	}
}
.member {
	padding: 0 0 64px;
	> .club_card {
		margin: 15px auto 0;
		> ul {
			padding: 18px 30px;
			justify-content: space-between;
			> li {
				line-height: 22px;
				font-size: 14px;
				color: #e8ddc1;
			}
		}
	}
	> .title {
		@extend .text_center;
		height: 22px;
		line-height: 22px;
		margin: 20px 0 15px;
		font-size: 16px;
		color: #e8ddc1;
		> img {
			width: 28px;
		}
	}
	> .choice {
		margin: auto;
		padding: 30px;
		> ul {
			@extend .flex_row;
			flex-wrap: wrap;
			> li {
				@extend .text_center;
				&.bar_3 {
					width: 33.3%;
					&:nth-child(n + 4) {
						margin-top: 30px;
					}
				}
				&.bar_4 {
					width: 25%;
				}
				> img {
					width: 40px;
				}
				> p {
					margin-top: 6px;
					font-size: 12px;
					color: #e8ddc1;
				}
			}
		}
	}
}
.equity {
	> div {
		margin: 20px auto 0;
		> ul {
			padding: 30px 20px;
			> li {
				&:not(:last-child) {
					margin-bottom: 30px;
				}
				> div {
					&:first-child {
						@extend .flex_row;
						justify-content: center;
						align-items: center;
						width: 46px;
						height: 46px;
						margin-right: 8px;
						border-radius: 50%;
						&.orange {
							background: #d37f5e;
							> img {
								width: 28px;
							}
						}
						&.blue {
							background: #3e9bcf;
							> img {
								width: 22px;
							}
						}
						&.purple {
							background: #6853fb;
							> img {
								width: 28px;
							}
						}
					}
					&:nth-child(2) {
						@extend .flex_col;
						justify-content: space-between;
						width: calc(100% - 54px);
						h5 {
							font-size: 16px;
							color: #ebebeb;
						}
						p {
							font-size: 12px;
							color: #6a6c78;
						}
					}
				}
			}
		}
	}
}
.material {
	> div {
		margin: 20px auto 0;
		padding: 30px 20px;
		> ul {
			> li {
				justify-content: space-between;
				font-size: 15px;
				color: #9597a8;
				&:not(:last-child) {
					margin-bottom: 30px;
				}
			}
		}
	}
}
.recharge {
	> div {
		margin: 20px auto 0;
		padding: 20px 20px 30px;
		> div {
			&:nth-child(2) {
				margin-top: 25px;
			}
			> p {
				padding-left: 9px;
				margin-bottom: 5px;
				font-size: 16px;
				color: #ffffff;
				position: relative;
				&::before {
					content: '';
					width: 3px;
					height: 16px;
					background: #2e66f9;
					position: absolute;
					bottom: 3px;
					left: 0;
				}
			}
			> ul {
				@extend .flex_row;
				@extend .text_center;
				justify-content: space-between;
				flex-wrap: wrap;
				> li {
					width: 86px;
					line-height: 32px;
					margin-top: 20px;
					font-size: 14px;
					color: #6a6c78;
					position: relative;
					&.active {
						border-color: #2e66f9;
						color: #2e66f9;
					}
					> img {
						width: 14px;
						position: absolute;
						bottom: -1px;
						right: -1px;
					}
				}
			}
			> ul > li,
			> div > input {
				height: 34px;
				background: #191923;
				border: 1px solid #6a6c78;
				border-radius: 4px;
			}
			> div {
				margin-top: 20px;
				font-size: 14px;
				color: #6a6c78;
				> input {
					padding: 0 10px;
					color: #2e66f9;
					&:focus {
						border-color: #2e66f9;
					}
				}
			}
		}
		> button {
			width: 100%;
			height: 40px;
			margin-top: 60px;
			background: #2e66f9;
			border-radius: 20px;
			font-size: 16px;
			color: #ffffff;
		}
	}
}
.reserve {
	padding: 0 0 64px;
	> img {
		width: 100%;
	}
	> .bar_details {
		padding: 17px 20px 14px;
		margin: -50px auto 15px;
		position: relative;
		z-index: 1;
		> div {
			&.flex_row {
				align-items: center;
				&.title {
					justify-content: space-between;
					margin-bottom: 6px;
					> h4 {
						font-size: 16px;
						color: #ffffff;
					}
					> div {
						width: 68px;
						height: 26px;
						line-height: 26px;
						background: #191923;
						border-radius: 13px;
						font-size: 12px;
						color: #ffffff;
					}
				}
				&.score {
					font-size: 14px;
					color: #ff71ab;
					> .van-rate {
						margin-right: 10px;
					}
				}
				&.opening {
					justify-content: space-between;
					margin: 10px 0;
					> p {
						font-size: 12px;
						color: #6a6c78;
						> img {
							width: 12px;
							margin-right: 4px;
						}
					}
					> button {
						width: 68px;
						height: 26px;
						background: #1865fd;
						border-radius: 13px;
						font-size: 12px;
						color: #ffffff;
					}
				}
				&.address {
					justify-content: space-between;
					padding: 11px 0 0;
					border-top: 1px solid #191923;
					font-size: 12px;
					color: #6a6c78;
					> div {
						align-items: center;
						> img {
							&:first-child {
								width: 11px;
								margin-right: 6px;
							}
							&:last-child {
								width: 7px;
								margin-left: 6px;
							}
						}
					}
					> img {
						width: 16px;
					}
				}
			}
		}
	}
	> .book_box {
		margin: auto;
		> .title {
			justify-content: space-between;
			align-items: center;
			padding: 20px 20px 15px;
			> h4 {
				font-size: 16px;
				color: #ffffff;
			}
			> ul {
				> li {
					@extend .flex_row;
					align-items: center;
					font-size: 10px;
					color: #1865fd;
					> div {
						@extend .text_center;
						width: 20px;
						height: 20px;
						line-height: 20px;
						border: 1px solid #1865fd;
						border-radius: 4px;
						font-size: 12px;
						transform: scale(0.5);
					}
				}
			}
		}
		> .date_selection {
			width: 100%;
			height: 50px;
			background: #191923;
			> div {
				width: calc(100% - 57.5px);
				overflow: hidden;
				> ul {
					@extend .flex_row;
					align-items: center;
					width: 785px;
					height: 100%;
					li {
						@extend .flex_col;
						justify-content: center;
						@extend .text_center;
						width: 40px;
						height: 100%;
						margin-left: 15px;
						font-size: 10px;
						color: #6a6c78;
						position: relative;
						&.active {
							color: #1865fd;
							&::after {
								content: '';
								width: 18px;
								height: 2px;
								background: #1865fd;
								border-radius: 1px;
								position: absolute;
								left: 9px;
								bottom: 0;
							}
						}
					}
				}
			}
			> button {
				width: 57.5px;
				padding: 0 10px;
				background: #191923;
				font-size: 10px;
				color: #1865fd;
				position: relative;
				&::before {
					content: '';
					width: 31px;
					height: 28px;
					background: linear-gradient(to right, rgba(25, 25, 35, 0) 0%, rgba(25, 25, 35, 1) 100%);
					pointer-events: none;
					position: absolute;
					top: 11px;
					left: -31px;
				}
			}
		}
		> div {
			&.box_selection {
				width: 100%;
				margin: 15px 0;
				padding: 0 20px;
				> ul {
					flex-wrap: wrap;
					> li {
						@extend .flex_col;
						justify-content: center;
						width: 95px;
						height: 56px;
						border: 1px solid #6a6c78;
						border-radius: 4px;
						color: #6a6c78;
						position: relative;
						&:not(:nth-child(3n)) {
							margin-right: 10px;
						}
						&:nth-child(n + 4) {
							margin-top: 10px;
						}
						&.active {
							border-color: #ff71ab;
							color: #ff71ab;
						}
						> p {
							&:first-child {
								font-size: 14px;
							}
							&:nth-child(2) {
								margin-top: 2px;
								font-size: 12px;
							}
						}
						> img {
							width: 22px;
							position: absolute;
							bottom: -1px;
							right: -1px;
						}
					}
				}
			}
		}
		> ul {
			&.cash_coupons {
				padding: 15px 20px;
				> li {
					justify-content: space-between;
					align-items: center;
					&:not(:last-child) {
						margin-bottom: 15px;
					}
					> div {
						> h6 {
							font-size: 14px;
							color: #ffffff;
						}
						> p {
							font-size: 12px;
							color: #ff71ab;
							> b {
								font-size: 18px;
							}
						}
					}
					> button {
						width: 72px;
						height: 30px;
						background: #2e66f9;
						border-radius: 15px;
						font-size: 12px;
						color: #ffffff;
						&.grey {
							background: #6a6c78;
						}
					}
				}
			}
		}
	}
	> .van-popup {
		background-color: #1f212d;
		border-radius: 20px 20px 0 0;
		> .van-calendar {
			background-color: #1f212d;
			color: #ffffff;
			> .van-calendar__header {
				box-shadow: 0 2px 2px rgb(23 31 41);
				// color: #ffffff;
				> .van-calendar__header-subtitle {
					font-size: 20px;
				}
				> .van-calendar__weekdays {
					color: #434654;
				}
			}
		}
		> .van-calendar__body {
			.van-calendar__day--disabled {
				color: #434654 !important;
			}
		}
		> .arrival_time {
			padding: 20px;
			> div {
				justify-content: space-between;
				align-items: center;
				> p {
					font-size: 16px;
					color: #ffffff;
				}
				> h4 {
					font-size: 20px;
					color: #ff71ab;
				}
			}
			> p {
				margin: 20px 0;
				font-size: 14px;
				color: #ffffff;
			}
			> ul {
				flex-wrap: wrap;
				> li {
					@extend .text_center;
					width: 78px;
					height: 34px;
					line-height: 34px;
					margin-bottom: 8px;
					border: 1px solid #eaeaea;
					border-radius: 4px;
					font-size: 14px;
					color: #eaeaea;
					position: relative;
					&:not(:nth-child(4n)) {
						margin-right: 7.5px;
					}
					&.active {
						border-color: #2e66f9;
						color: #2e66f9;
					}
					> img {
						width: 14px;
						position: absolute;
						right: -1px;
						bottom: -1px;
					}
				}
			}
			> button {
				width: 100%;
				height: 40px;
				margin-top: 28px;
				background: #2e66f9;
				border-radius: 20px;
				font-size: 16px;
				color: #ffffff;
			}
		}
	}
}
.reserve_order {
	> .common_box {
		margin: 15px auto 0;
		padding: 0 20px;
		&.details {
			padding: 20px;
			> div {
				justify-content: space-between;
				align-items: center;
				font-size: 18px;
				color: #ffffff;
			}
			> p {
				margin-top: 15px;
				font-size: 12px;
				color: #ffffff;
			}
		}
		&.drink_package {
			padding: 20px;
			> ul {
				> li {
					@extend .flex_row;
					justify-content: space-between;
					&:not(:last-child) {
						margin-bottom: 20px;
					}
					> div {
						&:first-child {
							@extend .flex_row;
							justify-content: center;
							align-items: center;
							width: 14px;
							height: 14px;
							margin-top: 3px;
							border: 1px solid #cccccc;
							border-radius: 50%;
							> img {
								width: 9px;
								display: none;
							}
							&.active {
								background: #2e66f9;
								border-color: #2e66f9;
								> img {
									display: block;
								}
							}
						}
						&:nth-child(2) {
							width: 284px;
							> div {
								justify-content: space-between;
								> h3 {
									font-size: 14px;
									color: #ffffff;
								}
							}
							> p {
								overflow: hidden;
								white-space: nowrap;
								text-overflow: ellipsis;
								font-size: 12px;
								color: #6a6c78;
							}
						}
					}
				}
			}
		}
		&.edit_details {
			> ul {
				> li {
					@extend .flex_row;
					height: 55px;
					line-height: 55px;
					&:not(:last-child) {
						border-bottom: 1px solid #272935;
					}
					> label {
						width: 70px;
						text-align: justify;
						font-size: 14px;
						color: #ffffff;
						> span {
							margin-right: 28px;
						}
					}
					> input {
						width: calc(100% - 70px);
						height: 100%;
						background: transparent;
						font-size: 14px;
						color: #ffffff;
						&::placeholder {
							color: #6a6c78;
						}
					}
				}
			}
		}
	}
	> .confirm {
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 50px;
		background: #272935;
		box-shadow: 0px -4px 8px 0px rgba(0, 0, 0, 0.06);
		position: fixed;
		left: 0;
		bottom: 0;
		z-index: 9999;
		> p {
			padding-left: 20px;
			font-size: 16px;
			color: #ffffff;
			> b {
				font-size: 24px;
			}
		}
		> div {
			height: 100%;
			> div {
				padding: 0 20px;
				line-height: 50px;
				font-size: 12px;
				color: #ffffff;
				> img {
					width: 8px;
					margin-left: 5px;
					transform: rotate(-180deg);
					transition: all 0.3s;
					&.active {
						transform: rotate(-360deg);
					}
				}
			}
			> button {
				width: 108px;
				height: 100%;
				background: #266df2;
				font-size: 14px;
				color: #ffffff;
			}
		}
	}
	> .van-popup {
		background: #272935;
		border-radius: 8px 8px 0 0;
		&.van-popup--bottom {
			bottom: 50px;
		}
		> .consumer_details {
			> h2 {
				padding: 20px 20px 15px;
				border-bottom: 1px solid #000000;
				font-size: 16px;
				color: #ffffff;
			}
			> div {
				justify-content: space-between;
				align-items: center;
				&:nth-child(2) {
					padding: 15px 20px;
					border-bottom: 1px solid #000000;
				}
				&:nth-child(3) {
					padding: 15px 20px 10px;
				}
				> p {
					font-size: 14px;
					color: #ffffff;
				}
			}
			> ul {
				padding: 0 20px;
				> li {
					@extend .flex_row;
					justify-content: space-between;
					align-items: center;
					margin-bottom: 10px;
					font-size: 12px;
					color: #6a6c78;
				}
			}
		}
		> .van-picker {
			background: #272935;
			> .van-picker__toolbar {
				border-bottom: 1px solid #000000;
				> .van-picker__cancel {
					color: #6a6c78;
				}
				> .van-picker__confirm {
					color: #266df2;
				}
			}
			> .van-picker__columns {
				> .van-picker-column {
					> .van-picker-column__wrapper {
						> .van-picker-column__item {
							color: #ffffff;
						}
					}
				}
				> .van-picker__mask {
					background-image: none;
				}
				[class*=van-hairline]::after {
					border-top: 1px solid #000000;
					border-bottom: 1px solid #000000;
				}
			}
		}
	}
}
.member_card {
	> .nav {
		justify-content: center;
		margin: 20px auto 30px;
		> li {
			@extend .text_center;
			width: 118px;
			height: 36px;
			line-height: 36px;
			border-radius: 18px;
			font-size: 14px;
			color: #6a6c78;
			&.active {
				background: #2e66f9;
				color: #ffffff;
			}
		}
	}
	> .application_card,
	> .tied_card {
		@extend .common_box;
		margin: auto;
		padding: 20px;
	}
	> .application_card {
		> p {
			padding-left: 9px;
			font-size: 16px;
			color: #ffffff;
			position: relative;
			&::before {
				content: '';
				width: 3px;
				height: 16px;
				background: #2e66f9;
				position: absolute;
				top: 3px;
				left: 0;
			}
		}
		> ul {
			> li {
				justify-content: space-between;
				align-items: center;
				padding: 15px 0;
				&:not(:last-child) {
					border-bottom: 1px solid #191923;
				}
				> div {
					&:first-child {
						@extend .flex_row;
						justify-content: center;
						align-items: center;
						width: 16px;
						height: 16px;
						border: 1px solid #ffffff;
						border-radius: 50%;
						> img {
							width: 9px;
							display: none;
						}
						&.active {
							background: #2e66f9;
							border-color: #2e66f9;
							> img {
								display: block;
							}
						}
					}
					&:nth-child(2) {
						width: 264px;
						> .membership_card {
							@extend .flex_row;
							justify-content: space-between;
							align-items: center;
							> div {
								align-items: center;
								> div {
									width: 60px;
									height: 50px;
									margin-right: 10px;
									background: linear-gradient(231deg, #8facd3 0%, #8779db 100%);
									border-radius: 8px;
								}
								> h3 {
									font-size: 18px;
									color: #ffffff;
								}
							}
							> p {
								font-size: 12px;
								color: #6a6c78;
							}
						}
						> .top_up {
							justify-content: space-between;
							margin-top: 10px;
							> li {
								@extend .text_center;
								width: 84px;
								height: 24px;
								line-height: 24px;
								padding: 0 6px;
								border: 1px solid #6a6c78;
								border-radius: 15px;
								font-size: 10px;
								color: #6a6c78;
								overflow: hidden;
								white-space: nowrap;
								text-overflow: ellipsis;
								&.active {
									border-color: #2e66f9;
									color: #2e66f9;
								}
							}
						}
						> .sale {
							justify-content: space-between;
							align-items: center;
							margin-top: 10px;
							> div {
								width: 200px;
								font-size: 10px;
								color: #6a6c78;
								overflow: hidden;
								white-space: nowrap;
								text-overflow: ellipsis;
								> img {
									width: 16px;
									margin-right: 8px;
								}
							}
							> button {
								justify-content: center;
								align-items: center;
								background: transparent;
								font-size: 10px;
								color: #2e66f9;
								> img {
									width: 6px;
									margin-left: 6px;
								}
							}
						}
					}
				}
			}
		}
		> button {
			width: 100%;
			height: 40px;
			margin-top: 45px;
			background: #2e66f9;
			border-radius: 20px;
			font-size: 16px;
			color: #ffffff;
		}
	}
	> .tied_card {
		> button {
			width: 100%;
			height: 40px;
			margin-top: 80px;
			background: #2e66f9;
			border-radius: 20px;
			font-size: 16px;
			color: #ffffff;
		}
	}
}
.build_card {
	@extend .common_box;
	margin: 20px auto 0;
	padding: 20px;
	> .common_input {
		margin-bottom: 10px;
		&:nth-child(3) {
			margin-bottom: 30px;
		}
	}
}
.bill {
	@extend .common_box;
	margin: 20px auto 0;
	> .list {
		> li {
			color: #ffffff;
			&:not(:last-child) {
				border-bottom: 1px solid #191923;
			}
			> div {
				justify-content: space-between;
				align-items: center;
				padding: 20px 20px 15px;
				> div {
					&:first-child {
						> div {
							&:first-child {
								@extend .flex_row;
								justify-content: center;
								align-items: center;
								width: 46px;
								height: 46px;
								margin-right: 8px;
								border-radius: 50%;
								&.blue {
									background: #2e66f9;
								}
								&.green {
									background: #5daa23;
								}
								> img {
									width: 26px;
								}
							}
							&:nth-child(2) {
								@extend .flex_col;
								justify-content: space-between;
								> h4 {
									font-size: 16px;
								}
								> p {
									font-size: 12px;
									color: #6a6c78;
								}
							}
						}
					}
					&:nth-child(2) {
						@extend .flex_row;
						align-items: center;
						font-size: 16px;
						font-weight: bold;
						> img {
							width: 8px;
							margin-left: 8px;
							transform: rotate(90deg);
							transition: all 0.3s;
							&.active {
								transform: rotate(270deg);
							}
						}
					}
				}
			}
			> ul {
				height: 0px;
				padding: 0 20px;
				background: #191923;
				overflow: hidden;
				transition: all 0.3s;
				&.active {
					height: 115px;
					padding: 15px 20px;
				}
				> li {
					font-size: 12px;
				}
			}
		}
	}
	> .no_more {
		@extend .text_center;
		margin: 124px auto 0;
		font-size: 14px;
		color: #6a6c78;
		> img {
			width: 124px;
			margin-bottom: 14px;
		}
	}
}
.my_appointment {
	> .van-list {
		> .appointment_details {
			width: 345px;
			margin: 0 auto 15px;
			padding: 15px 15px 20px;
			background: #272935;
			border-radius: 8px;
			&:first-child {
				margin-top: 20px;
			}
			> div {
				&:first-child {
					justify-content: space-between;
					align-items: center;
					> p {
						font-size: 12px;
						color: #6a6c78;
					}
				}
				&:nth-child(2) {
					margin-top: 10px;
					> div {
						&:first-child {
							@extend .flex_row;
							justify-content: center;
							align-items: center;
							width: 60px;
							height: 60px;
							margin-right: 10px;
							background: #6a6c78;
							border-radius: 8px;
							overflow: hidden;
							> img {
								width: 100%;
							}
						}
						&:nth-child(2) {
							@extend .flex_col;
							justify-content: space-between;
							width: 245px;
							> h5 {
								font-size: 14px;
								color: #ffffff;
							}
							> p {
								font-size: 10px;
								color: #6a6c78;
							}
							> div {
								justify-content: space-between;
								align-items: center;
								> p {
									font-size: 10px;
									color: #6a6c78;
								}
								> b {
									font-size: 14px;
									color: #2e66f9;
								}
							}
						}
					}
				}
			}
		}
	}
}
.reward {
	height: calc(100% - 20px);
	> .invite {
		width: 345px;
		height: 110px;
		margin: 20px auto 0;
		position: relative;
		> img,
		> div {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
		> div {
			padding: 25px 30px;
			color: #7f521a;
			> p {
				font-size: 16px;
			}
			> h2 {
				margin-top: 10px;
				font-size: 20px;
			}
		}
	}
	> .choice {
		width: 284px;
		margin: 25px auto 0;
		justify-content: space-between;
		align-items: center;
		> li {
			@extend .text_center;
			width: 93px;
			height: 36px;
			line-height: 36px;
			border-radius: 18px;
			font-size: 14px;
			color: #6a6c78;
			&.active {
				background: linear-gradient(180deg, #f7e2b7, #dfbc76 100%);
				color: #7f521a;
			}
		}
	}
	> .list_title {
		align-items: center;
		height: 47px;
		padding: 0 10px;
		margin-top: 10px;
		border-bottom: 1px solid #6a6c78;
		font-size: 12px;
		color: #6a6c78;
		> li {
			@extend .text_center;
			flex: 1;
		}
	}
	> .list {
		height: calc(100% - 248px);
		overflow: hidden;
		> ul {
			padding: 20px 0;
			> li {
				padding: 0 10px;
				margin-bottom: 20px;
				&.active {
					> div {
						&:first-child {
							> div {
								> img {
									transform: rotate(270deg);
								}
							}
						}
						&:nth-child(2) {
							height: auto;
						}
					}
				}
				> div {
					&:first-child {
						@extend .flex_row;
						@extend .text_center;
						align-items: center;
						> p,
						> div {
							flex: 1;
							font-size: 12px;
							color: #f2f2f2;
						}
						> div {
							> img {
								width: 6px;
								margin-left: 4px;
								transform: rotate(90deg);
								transition: all 0.3s;
							}
						}
					}
					&:nth-child(2) {
						height: 0px;
						overflow: hidden;
						> ul {
							margin: 10px auto 0;
							padding: 20px;
							background: #1f212d;
							border-radius: 8px;
							> li {
								font-size: 12px;
								color: #ffffff;
							}
						}
					}
				}
			}
		}
	}
}
.welfare {
	@extend .flex_col;
	align-items: center;
	padding: 20px 0 0;
	> h1 {
		font-size: 34px;
		background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#e58e3a), to(#f5d1b0));
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	> h2 {
		margin-top: 4px;
		font-size: 26px;
		background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffdaa7), to(#fdf2d6));
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	> div {
		width: 335px;
		padding: 25px 20px;
		margin-top: 30px;
		background: linear-gradient(127deg, #f8daab, #fcebd1 100%, #f5cb92 100%);
		border-radius: 8px;
		> h2 {
			font-size: 20px;
			color: #7f521a;
		}
		> p {
			line-height: 28px;
			font-size: 14px;
			color: #7f521a;
			&:nth-child(2) {
				margin-top: 15px;
			}
		}
	}
	> button {
		width: 285px;
		height: 40px;
		margin-top: 40px;
		background: #ffe5b5;
		border-radius: 20px;
		font-size: 18px;
		font-weight: bold;
		color: #7f521a;
	}
}
.q_r_code {
	@extend .flex_col;
	@extend .text_center;
	margin: 20px auto 0;
	padding: 30px 0;
	> div {
		margin: auto;
		&:first-child {
			width: 80px;
			height: 80px;
			background: #6a6c78;
			border-radius: 50%;
		}
		&:last-child {
			width: 180px;
			height: 180px;
			padding: 20px;
			background: #191923;
			border-radius: 8px;
			> img {
				width: 100%;
			}
		}
	}
	> p {
		margin: 15px auto 30px;
		&:nth-child(2) {
			font-size: 14px;
			color: #6a6c78;
		}
		&:nth-child(4) {
			font-size: 16px;
			color: #6a6c78;
		}
	}
	> img {
		margin: auto;
		&:nth-child(3) {
			width: 315px;
		}
	}
}
.rebate {
	@extend .text_center;
	margin: 20px auto 0;
	padding: 40px 0 45px;
	> div {
		width: 140px;
		height: 140px;
		padding: 10px;
		margin: 0 auto 30px;
		background: #ffffff;
		border-radius: 8px;
	}
	> p {
		font-size: 14px;
		color: #6a6c78;
		&:not(:last-child) {
			margin-bottom: 10px;
		}
		> b {
			color: #ffffff;
		}
	}
}
